@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');


.header {
     display: flex;
     position: fixed;
     height: auto;
     z-index: 9999;
     width: 100%;
     top: 0;
     left: 0;
     color: white;

     align-items: center;

     .logo {
          margin-left: 20px;
          font-family: 'Bellota Text', cursive;
     }

}

section {
     text-align: center;
}

.image-left-1 {
     width: 100%;
     height: 500px;
     background: url(/src/img/3.jpg) 100% 100% / cover no-repeat;
     transition: 1s;

     &:hover {
          transition: 1s;
          background: url(/src/img/3.jpg) 0% 0% / cover no-repeat;
     }

     .text {
          height: 100%;
          display: flex;
          opacity: 0;
          transition: .7s;
          background-color: rgba(0, 0, 0, 0.603);

          &:hover {
               opacity: 1;
               transition: .7s;
               cursor: pointer;

               h1 {
                    transition: .5s;
                    opacity: 1;
               }
          }

          h1 {
               opacity: 0;
               color: white;
               font-family: 'Bellota Text', cursive;
               font-weight: bold;
               transition: .5s;

          }
     }
}

.image-right-1 {

     width: 100%;
     height: 500px;
     background: url(/src/img/about.jpg) 100% 100% / cover no-repeat;
     transition: 1s;

     &:hover {
          transition: 1s;
          background: url(/src/img/about.jpg) 0% 0% / cover no-repeat;
     }

     .text {
          height: 100%;
          display: flex;
          opacity: 0;
          transition: .7s;
          background-color: rgba(0, 0, 0, 0.603);

          &:hover {
               opacity: 1;
               transition: .7s;
               cursor: pointer;

               h1 {
                    transition: .5s;
                    opacity: 1;
               }
          }

          h1 {
               opacity: 0;
               color: white;
               font-family: 'Bellota Text', cursive;
               font-weight: bold;
               transition: .5s;

          }
     }
}

.image-left-2 {

     width: 100%;
     height: 500px;
     background: url(/src/img/1.jpeg) 100% 100% / cover no-repeat;
     transition: 1s;

     &:hover {
          transition: 1s;
          background: url(/src/img/1.jpeg) 0% 0% / cover no-repeat;
     }

     .text {
          height: 100%;
          display: flex;
          opacity: 0;
          transition: .7s;
          background-color: rgba(0, 0, 0, 0.603);

          &:hover {
               opacity: 1;
               transition: .7s;
               cursor: pointer;

               h1 {
                    transition: .5s;
                    opacity: 1;
               }
          }

          h1 {
               opacity: 0;
               color: white;
               font-family: 'Bellota Text', cursive;
               font-weight: bold;
               transition: .5s;

          }
     }
}

.image-right-2 {

     width: 100%;
     height: 500px;
     background: url(/src/img/2.jpg) 100% 100% / cover no-repeat;
     transition: 1s;

     &:hover {
          transition: 1s;
          background: url(/src/img/2.jpg) 0% 0% / cover no-repeat;
     }

     .text{
          height: 100%;
          display: flex;
          opacity: 0;
          transition: .7s;
          background-color: rgba(0, 0, 0, 0.603);
          &:hover{
               opacity: 1;
               transition: .7s;
               cursor: pointer;
               h1{
                    transition: .5s;
                    opacity: 1;
               }
          }
          h1{
               opacity: 0;
               color: white;
               font-family: 'Bellota Text', cursive;
               font-weight: bold;
               transition: .5s;
              
          }
     }
}



footer {
     text-align: center;
     background-color: black;
     color: white;
     font-size: 20px;
     padding: 50px 0px;

     p {
          margin: 0;
          padding: 0;
     }
}


@media(max-width:1200px) {
     section {
          display: flex;
          flex-direction: column;
     }
}